
MagicVilla_VillaAPI/bin/Debug/net7.0/Azure.Core.dll
*.xml
MagicVilla_VillaAPI/.vs/MagicVilla_VillaAPI/xs/project-cache/MagicVilla_VillaAPI-Debug.json
MagicVilla_VillaAPI/bin/Debug/net7.0/AutoMapper.dll
MagicVilla_VillaAPI/bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
MagicVilla_VillaAPI/bin/Debug/net7.0/Azure.Identity.dll
*.dll
MagicVilla_VillaAPI/bin/Debug/net7.0/MagicVilla_VillaAPI.deps.json
*.pdb
MagicVilla_VillaAPI/bin/Debug/net7.0/MagicVilla_VillaAPI.runtimeconfig.json
MagicVilla_VillaAPI/bin/Debug/net7.0/MagicVilla_VillaAPI
MagicVilla_VillaAPI/obj/Debug/net7.0/MagicVilla_VillaAPI.csproj.CopyComplete
MagicVilla_VillaAPI/obj/Debug/net7.0/MagicVilla_VillaAPI.csproj.CoreCompileInputs.cache
MagicVilla_VillaAPI/obj/Debug/net7.0/MagicVilla_VillaAPI.csproj.FileListAbsolute.txt
MagicVilla_VillaAPI/obj/Debug/net7.0/MagicVilla_VillaAPI.genruntimeconfig.cache
MagicVilla_VillaAPI/obj/Debug/net7.0/MagicVilla_VillaAPI.MvcApplicationPartsAssemblyInfo.cache
MagicVilla_VillaAPI/obj/Debug/net7.0/MagicVilla_VillaAPI.MvcApplicationPartsAssemblyInfo.cs
MagicVilla_VillaAPI/obj/Debug/net7.0/staticwebassets.build.json
MagicVilla_VillaAPI/obj/Debug/net7.0/staticwebassets/msbuild.build.MagicVilla_VillaAPI.props
MagicVilla_VillaAPI/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.MagicVilla_VillaAPI.props
MagicVilla_VillaAPI/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.MagicVilla_VillaAPI.props
MagicVilla_VillaAPI/obj/MagicVilla_VillaAPI.csproj.EntityFrameworkCore.targets
MagicVilla_VillaAPI/obj/rider.project.model.nuget.info
MagicVilla_VillaAPI/obj/Debug/net7.0/apphost
MagicVilla_VillaAPI/log/villaLogs20230826.txt
MagicVilla_Utility/obj/rider.project.restore.info
MagicVilla_VillaAPI/obj/rider.project.restore.info
MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.assets.cache
MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.csproj.AssemblyReference.cache
MagicVilla_Web/obj/project.assets.json
MagicVilla_Web/obj/project.nuget.cache
MagicVilla_Web/obj/project.packagespec.json
MagicVilla_Web/obj/rider.project.restore.info
MagicVilla_VillaAPI/obj/*.*
MagicVilla_Web/obj/*.*
*.cache
