
MagicVilla_VillaAPI/bin/Debug/net7.0/Azure.Core.dll
*.xml
MagicVilla_VillaAPI/.vs/MagicVilla_VillaAPI/xs/project-cache/MagicVilla_VillaAPI-Debug.json
MagicVilla_VillaAPI/bin/Debug/net7.0/AutoMapper.dll
MagicVilla_VillaAPI/bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
MagicVilla_VillaAPI/bin/Debug/net7.0/Azure.Identity.dll
*.dll
MagicVilla_VillaAPI/bin/Debug/net7.0/MagicVilla_VillaAPI.deps.json
*.pdb
MagicVilla_VillaAPI/bin/Debug/net7.0/MagicVilla_VillaAPI.runtimeconfig.json
MagicVilla_VillaAPI/bin/Debug/net7.0/MagicVilla_VillaAPI
MagicVilla_VillaAPI/obj/Debug/net7.0/MagicVilla_VillaAPI.csproj.CopyComplete
MagicVilla_VillaAPI/obj/Debug/net7.0/MagicVilla_VillaAPI.csproj.CoreCompileInputs.cache
MagicVilla_VillaAPI/obj/Debug/net7.0/MagicVilla_VillaAPI.csproj.FileListAbsolute.txt
MagicVilla_VillaAPI/obj/Debug/net7.0/MagicVilla_VillaAPI.genruntimeconfig.cache
MagicVilla_VillaAPI/obj/Debug/net7.0/MagicVilla_VillaAPI.MvcApplicationPartsAssemblyInfo.cache
MagicVilla_VillaAPI/obj/Debug/net7.0/MagicVilla_VillaAPI.MvcApplicationPartsAssemblyInfo.cs
MagicVilla_VillaAPI/obj/Debug/net7.0/staticwebassets.build.json
MagicVilla_VillaAPI/obj/Debug/net7.0/staticwebassets/msbuild.build.MagicVilla_VillaAPI.props
MagicVilla_VillaAPI/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.MagicVilla_VillaAPI.props
MagicVilla_VillaAPI/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.MagicVilla_VillaAPI.props
MagicVilla_VillaAPI/obj/MagicVilla_VillaAPI.csproj.EntityFrameworkCore.targets
MagicVilla_VillaAPI/obj/rider.project.model.nuget.info
MagicVilla_VillaAPI/obj/Debug/net7.0/apphost
MagicVilla_VillaAPI/log/villaLogs20230826.txt
MagicVilla_Utility/obj/rider.project.restore.info
MagicVilla_VillaAPI/obj/rider.project.restore.info
MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.assets.cache
MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.csproj.AssemblyReference.cache
MagicVilla_Web/obj/project.assets.json
MagicVilla_Web/obj/project.nuget.cache
MagicVilla_Web/obj/project.packagespec.json
MagicVilla_Web/obj/rider.project.restore.info
MagicVilla_VillaAPI/obj/*.*
MagicVilla_Web/obj/*.*
*.cache
Magic_Web/bin/Debug/*.*
Magic_Web/bin/Debug/net7.0/Magic_Web.deps.json
Magic_Web/obj/*.*
Magic_Web/obj/Magic_Web.csproj.nuget.dgspec.json
Magic_Web/obj/Debug/net7.0/apphost
Magic_Web/obj/Debug/net7.0/Magic_Web.csproj.FileListAbsolute.txt
Magic_Web/obj/project.assets.json
Magic_Web/obj/project.packagespec.json
Magic_Web/obj/rider.project.model.nuget.info
Magic_Web/bin/*.*
*.info
Magic_Web/obj/rider.project.model.nuget.info
MagicVilla_Utility/obj/project.assets.json
MagicVilla_Utility/obj/MagicVilla_Utility.csproj.nuget.dgspec.json
MagicVilla_Utility/obj/Debug/net7.0/MagicVilla_Utility.GeneratedMSBuildEditorConfig.editorconfig
MagicVilla_Utility/obj/Debug/net7.0/MagicVilla_Utility.csproj.FileListAbsolute.txt
MagicVilla_Utility/obj/MagicVilla_Utility.csproj.nuget.g.targets
MagicVilla_Utility/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
MagicVilla_Utility/obj/Debug/net7.0/MagicVilla_Utility.AssemblyInfo.cs
MagicVilla_Utility/obj/project.packagespec.json
MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.assets.cache
MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.csproj.AssemblyReference.cache
MagicVilla_Web/obj/MagicVilla_Web.csproj.nuget.g.props
MagicVilla_Web/obj/project.assets.json
MagicVilla_Web/obj/project.nuget.cache
MagicVilla_Web/obj/Debug/net7.0/MagicVilla_Web.assets.cache
MagicVilla_VillaAPI/.vs/MagicVilla_VillaAPI/xs/project-cache/Magic_Web-Debug.json
MagicVilla_VillaAPI/.vs/MagicVilla_VillaAPI/xs/project-cache/MagicVilla_Web-Debug.json
MagicVilla_VillaAPI/.vs/MagicVilla_VillaAPI/xs/project-cache/MagicVilla_Web-Debug.json
MagicVilla_VillaAPI/.vs/MagicVilla_VillaAPI/xs/project-cache/Magic_Web-Debug.json
MagicVilla_Web/obj/Release/*.*
MagicVilla_Web/obj/Release/net7.0/MagicVilla_Web.csproj.CopyComplete
MagicVilla_Web/obj/Release/net7.0/MagicVilla_Web.AssemblyInfo.cs
MagicVilla_Web/obj/Release/net7.0/MagicVilla_Web.GeneratedMSBuildEditorConfig.editorconfig
MagicVilla_Utility/obj/Release/net7.0/MagicVilla_Utility.AssemblyInfo.cs
MagicVilla_VillaAPI/bin/*.*
MagicVilla_VillaAPI/bin/Release/net7.0/*.*
MagicVilla_VillaAPI/bin/Release/net7.0/MagicVilla_VillaAPI/*.*
MagicVilla_Utility/obj/Release/net7.0/*.*
MagicVilla_Utility/obj/Debug/net7.0/*.*
